---

import { profileConfig } from "../config";
import { url } from "../utils/url-utils";

const currentYear = new Date().getFullYear();
---

<div class="h-px bg-gradient-to-r from-transparent via-black/15 dark:via-white/15 to-transparent mx-8 my-10"></div>

      <div class="w-full mb-8">
        
        <div class="w-full bg-gradient-to-r from-[oklch(97%_0.01_var(--hue))] to-[oklch(95%_0.02_var(--hue))] dark:from-[oklch(18%_0.02_var(--hue))] dark:to-[oklch(15%_0.03_var(--hue))] rounded-xl p-5">
          
          <div class="flex flex-col sm:flex-row items-center justify-between gap-3 text-sm">
            <div class="flex flex-wrap items-center justify-center sm:justify-start gap-3 text-black/70 dark:text-white/70">
              <span class="font-medium">
                Copyright &copy; <span id="copyright-year">{currentYear}</span> 
                <a href="/" class="transition hover:text-[var(--primary)]">安锐的小站</a>
              </span>
            </div>
            <a target="_blank" href="https://pages.edgeone.ai/" class="transition-transform hover:scale-105">
              <img src="/edgeone.svg" alt="EdgeOne" class="h-4 w-auto shrink-0 dark:invert dark:hue-rotate-180 opacity-70 hover:opacity-100 transition-opacity" />
            </a>
          </div>

          <div class="mt-2 pt-2 border-t border-black/10 dark:border-white/10 flex flex-col items-center gap-2 text-xs text-black/50 dark:text-white/50">
            <div class="flex flex-wrap justify-center items-center gap-x-4 gap-y-2">
              <a class="flex items-center gap-1 hover:text-[var(--primary)] transition-colors font-medium" target="_blank" href="https://beian.miit.gov.cn/">
                <img src="/beian.png" alt="ICP备案" class="h-[14px] w-auto shrink-0" />
                <span>苏ICP备2026009777号-1</span>
              </a>
              <span class="hidden sm:inline opacity-50">|</span>
              <a class="flex items-center gap-1 hover:text-[var(--primary)] transition-colors font-medium" target="_blank" href="https://beian.mps.gov.cn/#/query/webSearch?code=32059002007595">
                <img src="/beian-police.png" alt="公安备案" class="h-[14px] w-auto shrink-0" />
                <span>苏公网安备32059002007595号</span>
              </a>
            </div>
          </div>

        </div>

      </div>